<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universal JS app demo with Express and React</title>
  </head>
  <body>
    <div id="main"><%- htmlContent %></div>
    <script>
      var __REDUX_STATE__ = <%- state %>;
    </script>
  </body>
</html>